body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #d58a82;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

    nav ul li {
        display: inline;
        margin: 0 10px;
    }

        nav ul li a {
            color: white;
            text-decoration: none;
            font-weight: bold;
        }

section {
    padding: 20px;
    margin: 20px;
    background-color: peachpuff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


    section .grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 10px;
    }

        section .grid img {
            width: 100%;
            height: auto;
            border-radius: 5px;
        }

        section video {
            max-width: 100%;
            height: auto;
            display: block;
            margin: 10px 0;
        }

    #giff {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0;
    }

    #partyPopper img, #BdayCake img {
        width: 200px; /* Adjust the size as needed */
        height: 200px;
        margin: 0 10px;
    }

